In [ ]:
Que. 2

Prepare association rules using apriori for the following  data sets 
1. book.csv
2. movies.csv

In [1]:
import warnings
warnings.filterwarnings(action="ignore")

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df  = pd.read_csv("book.csv")
df.head(5)

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [15]:
from apyori import apriori

# find the association rules using apriori
rules = list(apriori(df))

In [16]:
required_support = 0.5
required_confidence = 0.5

In [17]:
for rule in rules:
    support = rule.support
    confidence = rule.ordered_statistics[0].confidence
    if (support >= required_support) and (confidence >= required_confidence):
        print(f"rule = {rule.items}, support = {support}, confidence = {confidence}")

In [18]:
from mlxtend.preprocessing import TransactionEncoder

# create an encoder
encoder = TransactionEncoder()

# encode the transactions 
encoded_transactions = encoder.fit_transform(df)

# convert the encoded transactions into a dataframe
df = pd.DataFrame(encoded_transactions, columns=encoder.columns_)

In [19]:
from mlxtend.frequent_patterns import apriori

# find the rules
rules = apriori(df, min_support=0.5, use_colnames=True)

In [20]:
rules

Empty DataFrame
Columns: [support, itemsets]
Index: []