In [ ]:
The Salary_Train and Salary_Test datasets contains Information about Salary of different Person.
The Dataset Description as follows
age -- age of a person
workclass    -- A work class is a grouping of work 
education    -- Education of an individuals    
maritalstatus -- Marital status of an individulas    
occupation     -- occupation of an individuals
relationship -- ralationship of an individual    
race --  Race of an Individual
sex --  Gender of an Individual
capitalgain --  profit received from the sale of an investment    
capitalloss    -- A decrease in the value of a capital asset
hoursperweek -- number of hours work per week    
native -- Native of an individual
Salary -- salary of an individual
Prepare following models to predict Salary:
1. Logistic Regression
2. Naive Bayes
3. KNN
4. SVM
5. Decision Tree
6. Random Forest
7. Adaboost

Calculate different evaluation metrics and select best model from them.

Notes:
1. Do Proper EDA.
2. Build model without dropping any columns.

Dataset:
Salary_train.csv
Salary_test.csv

In [1]:
import warnings 
warnings.filterwarnings(action="ignore")

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df_train = pd.read_csv("Salary_Train.csv")
df_test = pd.read_csv("Salary_Test.csv")
df_train.head(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K