In [ ]:
Que3.-
In this dataset you have to predict that whether we have to give ATTORNEY to the clients or not (0=Yes, 1=No) based on below factors.
CLMAGE - Age of Client
CLMSEX - Sex of client (0=Male, 1= Female)
SEATBELT - Whether client has Seatbelt or not (0=Yes, 1=No)
CLMINSUR - Whether Client give Insurance or not (0=Yes, 1=No)
LOSS - Loss that client faced

Prepare model by using Decision Tree, Random Forest , AdaBoost, CatBoost, XGBoost & Calculate Accuracy by confusion matrix, Calculate accuracy score, precision score, recall score, f1 score.

Dataset : Claimants.csv

In [1]:
import warnings
warnings.filterwarnings(action="ignore")

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
df = pd.read_csv("claimants.csv")
df.head(5)

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1328 non-null   float64
 2   CLMINSUR  1299 non-null   float64
 3   SEATBELT  1292 non-null   float64
 4   CLMAGE    1151 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [8]:
df['CLMSEX'] = df['CLMSEX'].fillna(df['CLMSEX'].mode()[0])
df['CLMINSUR'] = df['CLMINSUR'].fillna(df['CLMINSUR'].mode()[0])
df['SEATBELT'] = df['SEATBELT'].fillna(df['SEATBELT'].mode()[0])
df['CLMAGE'] = df['CLMAGE'].fillna(df['CLMAGE'].mean())

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1340 non-null   float64
 2   CLMINSUR  1340 non-null   float64
 3   SEATBELT  1340 non-null   float64
 4   CLMAGE    1340 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [10]:
df.corr()

          ATTORNEY    CLMSEX  CLMINSUR  SEATBELT    CLMAGE      LOSS
ATTORNEY  1.000000  0.076564  0.076631 -0.055848  0.009886 -0.219715
CLMSEX    0.076564  1.000000  0.065976 -0.016327 -0.022444 -0.028412
CLMINSUR  0.076631  0.065976  1.000000  0.019953  0.044706  0.004641
SEATBELT -0.055848 -0.016327  0.019953  1.000000 -0.025379  0.111879
CLMAGE    0.009886 -0.022444  0.044706 -0.025379  1.000000  0.057641
LOSS     -0.219715 -0.028412  0.004641  0.111879  0.057641  1.000000

### split into x and y

In [11]:
x = df.drop(['ATTORNEY'], axis=1)

y = df['ATTORNEY']

In [12]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(
    x,y,train_size=0.8, random_state=123456
)

In [13]:
from sklearn.tree import DecisionTreeClassifier 
def create_decision_tree_model(): 
    model = DecisionTreeClassifier(max_depth=5)
    model.fit(x_train, y_train)

    return model

In [14]:
from sklearn.ensemble import RandomForestClassifier 
def create_random_forest_model(): 
    model = RandomForestClassifier(n_estimators=34, max_depth=5)
    model.fit(x_train, y_train)

    return model

In [15]:
from sklearn.ensemble import AdaBoostClassifier 
def create_adaboost_model():
    model = AdaBoostClassifier(n_estimators=25, learning_rate=0.2)
    model.fit(x_train, y_train)
    return model

In [16]:
from catboost import CatBoostClassifier 
def create_catboost_model():
    model = CatBoostClassifier(n_estimators=34, learning_rate=0.2)
    model.fit(x_train, y_train)
    return model

In [17]:
from xgboost import XGBClassifier 
def create_xgboost_model(): 
    model = XGBClassifier(n_estimators=35, max_depth=2, learning_rate=0.2)

# train the model
    model.fit(x_train, y_train)

    return model

In [18]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluate_model_on_test_dataset(model):
    y_pred = model.predict(x_test)

    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average="macro")
    recall = recall_score(y_test, y_pred, average="macro")
    f1 = f1_score(y_test, y_pred, average="macro")
    return f"{accuracy:.2f}", f"{precision:.2f}", f"{recall:.2f}", f"{f1:.2f}"

In [19]:
# create the models
models = []

models.append({"name": "Decision Tree", "model": create_decision_tree_model()})
models.append({"name": "Random Forest", "model": create_random_forest_model()})
models.append({"name": "XGBoost", "model": create_xgboost_model()})
models.append({"name": "AdaBoost", "model": create_adaboost_model()})
models.append({"name": "CatBoost", "model": create_catboost_model()})

0:	learn: 0.6578424	total: 47.7ms	remaining: 1.57s
1:	learn: 0.6320251	total: 48.4ms	remaining: 774ms
2:	learn: 0.6132424	total: 49.4ms	remaining: 510ms
3:	learn: 0.5997529	total: 50.4ms	remaining: 378ms
4:	learn: 0.5896748	total: 51ms	remaining: 296ms
5:	learn: 0.5802808	total: 52ms	remaining: 243ms
6:	learn: 0.5747787	total: 52.9ms	remaining: 204ms
7:	learn: 0.5703733	total: 53.8ms	remaining: 175ms
8:	learn: 0.5670095	total: 54.9ms	remaining: 153ms
9:	learn: 0.5643427	total: 55.9ms	remaining: 134ms
10:	learn: 0.5614309	total: 56.8ms	remaining: 119ms
11:	learn: 0.5583002	total: 57.7ms	remaining: 106ms
12:	learn: 0.5562036	total: 58.7ms	remaining: 94.8ms
13:	learn: 0.5546408	total: 59.7ms	remaining: 85.2ms
14:	learn: 0.5525354	total: 60.6ms	remaining: 76.7ms
15:	learn: 0.5507245	total: 61.5ms	remaining: 69.2ms
16:	learn: 0.5488878	total: 62.4ms	remaining: 62.4ms
17:	learn: 0.5475752	total: 63.4ms	remaining: 56.3ms
18:	learn: 0.5463063	total: 64.3ms	remaining: 50.8ms
19:	learn: 0.5451638	total: 65.3ms	remaining: 45.7ms
20:	learn: 0.5442630	total: 66.2ms	remaining: 41ms
21:	learn: 0.5436581	total: 67.2ms	remaining: 36.6ms
22:	learn: 0.5435627	total: 67.6ms	remaining: 32.3ms
23:	learn: 0.5428015	total: 68.5ms	remaining: 28.6ms
24:	learn: 0.5411863	total: 69.6ms	remaining: 25.1ms
25:	learn: 0.5397791	total: 70.5ms	remaining: 21.7ms
26:	learn: 0.5387462	total: 71.5ms	remaining: 18.5ms
27:	learn: 0.5379943	total: 72.5ms	remaining: 15.5ms
28:	learn: 0.5370192	total: 73.4ms	remaining: 12.7ms
29:	learn: 0.5363346	total: 74.9ms	remaining: 9.99ms
30:	learn: 0.5344368	total: 75.8ms	remaining: 7.34ms
31:	learn: 0.5338012	total: 76.8ms	remaining: 4.8ms
32:	learn: 0.5330665	total: 77.8ms	remaining: 2.36ms
33:	learn: 0.5326280	total: 80ms	remaining: 0us

In [20]:
# evaluate all the models
for info in models:
    accuracy, precision, recall, f1 = evaluate_model_on_test_dataset(info["model"])
    info["accuracy"] = accuracy
    info["precision"] = precision
    info["recall"] = recall
    info["f1"] = f1

# print the evaluation report
df_evaluation_report_test = pd.DataFrame(models, columns=["name", "accuracy", "precision", "recall", "f1"])
df_evaluation_report_test

            name accuracy precision recall    f1
0  Decision Tree     0.72      0.72   0.72  0.72
1  Random Forest     0.74      0.74   0.74  0.74
2        XGBoost     0.74      0.73   0.73  0.73
3       AdaBoost     0.72      0.72   0.72  0.72
4       CatBoost     0.74      0.73   0.73  0.73